@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form style="display:flex; flex-direction:column;  align-items:center"  asp-action="CreateRole" method="post" >
        <div class="form-group">
            <label style="font-size:20px" for="formGroupExampleInput">Create new role</label>
            <input class="form-control" style="width:400px; height:50px; border: 1px solid #202528" type="text" name="roleName" />
        </div>
        <div class="form-group">
            <input class="btn btn-secondary" type="submit" name="submit" value="Add" />
        </div>
    </form>
    <table class="table">

        <thead>
            <tr>

                <th scope="col">Role</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var role in ViewBag.roles)
            {
                <tr>

                    <td>@role</td>
                    <td>

                        <button type="button" class="btn  btn-md btn-outline-danger" data-toggle="modal" data-target="#modal-@role">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal-@role" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>@role</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a type="button" class="btn btn-danger" asp-action="DeleteRole" asp-route-roleName="@role">Yes, remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }


        </tbody>
    </table>



   
</div>